setuptools>=68
wheel
Flask==2.3.3
Flask-CORS==4.0.0
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.5
psycopg2-binary==2.9.7
python-dotenv==1.0.0
boto3==1.28.25
lasio==0.31
pandas==2.2.2
git add runtime.txt